

<!-- ======= News Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>{{ content.field_first_title }}</h2>
          {# <p>{{  content.field_services_description.0  }}</p> #}
        </div>

        <div class="row">
        {# Ist card #}

{% for key,value in content.field_news_image['#items'].value  %}
         <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="card">
            <div class="card-img-top card__img"> {{ content.field_news_image[key] }} </div>
            <div class="card-body">
            <h5 class="card-text">{{  content.field_descripation[key]  }} </h5>
            <p class="card-text"><small class="text-muted"> {{ content.field_upda[key] }}</small></p>
         </div>
          </div>
      </div>
       {% endfor %}
 {# 2rd card #}
           {# <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="card">
            <div class="card-img-top card__img">{{ content.field_news_image.1 }} </div>
            <div class="card-body">
            <h5 class="card-text">{{ content.field_descripation.1 }}</h5>
            <p class="card-text"><small class="text-muted"> {{ content.field_upda.1 }}</small></p>
         </div>
          </div>
  </div> #}

 {# 3rd card #}
             {# <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="card">
            <div class="card-img-top card__img">{{ content.field_news_image.2 }} </div>
            <div class="card-body">
            <h5 class="card-text">{{ content.field_descripation.2 }}</h5>
            <p class="card-text"><small class="text-muted"> {{ content.field_upda.2 }}</small></p>
         </div>
          </div>
  </div> #}



<!--
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="icofont-heartbeat"></i></div>
              <h4><a href="">Nemo Enim</a></h4>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
            </div>
          </div>
          </div> -->

        </div>

      </div>
    </section><!-- End Services Section -->





