
<!-- ======= Doctors Section ======= -->
    <section id="doctors" class="doctors">
      <div class="container">

        <div class="section-title">
          <h2>{{ content.field_dr_names }}</h2>
          <p>{{ content.field_dr_descripation}}</p>
        </div>

 {# {% for footer_link in  content.field_footer_link['#items'] %}
            <a href="{{ footer_link.url() }}">
                <img src="{{ attribute(content['field_icon_image'], loop.index -1)['#markup'] }}" class="float-md-right pl-2 footer__icon-hover" style="width: 2.5rem;">
        </a> #}
                 {# {% endfor %} #}


        <div class="row">
     
          <div class="col-lg-6">
            <div class="member d-flex align-items-start">
              <div class="pic img-fluid">  {{ content.field_dr_image}}</div>
            {# <div class="pic"><img src="{{ content.field_our_doctor_images.0['#markup'] }}" class="img-fluid" alt="img"></div> #}
           

            </div>
          </div>


           <div class="col-lg-6 mt-4 mt-lg-0">
            <div class="member d-flex align-items-start">
            
              <div class="member-info">
              <ul class="list-group list-group-flush">
               <li class="">{{ content.field_department_category }}</li>
                <li class="list-group-item">{{ content.field_dr_designation }}</li>
                <li class="list-group-item">{{ content.field_dr_contact }}</li>
                <li class="list-group-item">{{ content.field_dr_email }}</li>
                <li class="list-group-item">{{ content.field_dr_specialization }}</li>
                <li class="list-group-item">{{ content.field_dr_fees }}</li>
               
               
                  <li class="list-group-item"></li>


                 
</ul>
             {% if logged_in %}
                   <div class="list-group-item" style='background: #00000017;font-weight: bold;border-radius: 30px;'>{{ content.field_take_appointment }}</div>
                {% else %}
                
                     <a href="http://localhost/doctor_project/web/user/login" class="list-group-item" style='background: #00000017;font-weight: bold;border-radius: 30px;'>Login</a>
                

                <div class="alert alert-warning alert-dismissible fade show mt-3" role="alert">
                <strong> NOTE!</strong> First you login.Then Book your Appointment!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                </div>

                
                {% endif %}

                <div class="social">
                  <a href="twitter.com"><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>      
        </div>

      </div>
    </section><!-- End Doctors Section -->