


<!-- ======= Header ======= -->
<!-- class="fixed-top" -->

  <header id="" class="nav_position" >
    <div class="container d-flex align-items-center" >

  <header id="" class="nav_position" >
    <div class="container d-flex align-items-center" >
{#
  <header id="header" class="fixed-top" >

    <div class="container d-flex align-items-center ">


      {# <h1 class="logo mr-auto"><a href="index.html">Health Hospitial</a></h1> #}
      <!-- Uncomment below if you prefer to use an image logo -->
       <a href="" class="logo mr-auto "><img src="http://localhost/doctor_project/web/themes/custom/doctor_themes/logo.svg" alt="LOG" class="img-fluid"></a>

      <nav class="nav-menu d-none d-lg-block  mr-5">
        <ul>
           {% for item in items %}

            {% if item.is_expanded %}
          <!-- <li class="active"><a href="index.html">Home</a></li> -->           <li class="drop-down"><a href="">{{ item.title }}</a>
            <ul>
               {% for subitem in  item.below %}
              <li class="nav-menu"><a href="{{ subitem.url }}">{{ subitem.title }}</a>
               {% endfor %}
            </ul>
          </li>
             {% else %}
          <li><a href="{{ item.url }} ">{{ item.title }}</a></li>

       {% endif %}

      {% endfor %}
        </ul>
      </nav><!-- .nav-menu -->


      {# <a href="#" class="appointment-btn scrollto">DONATE</a> #}

    </div>
  {# </header><!-- End Header --> #}


